{:paths ["src"
         "resources"
         "../lib/src/"
         "../../components/encoder/src/"
         "../../components/backend/src/"
         "../../components/dsl/src"
         "../../components/simplifier/src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojars.pkoerner/lisb {:mvn/version "0.0.5-SNAPSHOT"}
        org.clojure/tools.deps.alpha {:mvn/version "0.12.1003"}
        org.clojure/core.match {:mvn/version "1.0.0"}
        com.taoensso/timbre {:mvn/version "5.1.2"}
        com.fzakaria/slf4j-timbre {:mvn/version "0.3.21"}
        net.mikera/core.matrix {:mvn/version "0.62.0"}
        com.rpl/specter {:mvn/version "1.1.3"}
        org.clojure/tools.cli {:mvn/version "1.0.206"}}
 :aliases {:main {:main-opts ["-m" "hhu.fset.cli.core"]}
           :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
                     :exec-fn hf.depstar/uberjar
                     :exec-args {:aot true
                                 :jar "fset.jar"
                                 :main-class hhu.fset.cli.core
                                 :sync-pom true}}
           :test {:extra-paths ["test"]
                  :extra-deps {}}}}
