(machine
 (machine-variant)
 (machine-header :scheduler [])
 (sets (deferred-set :PID))
 (variables :active :ready :waiting)
 (invariant (and
             (contains? (pow :PID) :active)
             (contains? (pow :PID) :ready)
             (contains? (pow :PID) :waiting)
             (subset? :active :PID)
             (subset? :ready :PID)
             (subset? :waiting :PID)
             (= (intersection :ready :waiting) #{})
             (= (intersection :active (union :ready :waiting))
                #{}) (<= (count :active) 1)
             (=> (= :active #{})
                 (= :ready #{}))))
 (init
  (parallel-substitution
   (assign :active #{})
   (assign :ready #{})
   (assign :waiting #{})))
 (operations
  (operation [:rr] :nr_ready [] (assign :rr (count :ready)))
  (operation [] :new [:pp] (select (and (contains? :PID :pp)
                                        (not (contains? :active :pp))
                                        (not (contains? (union :ready :waiting) :pp)))
                                   (assign :waiting (union :waiting #{:pp}))))
  (operation [] :del [:pp] (select (contains? :waiting :pp)
                                   (assign :waiting (- :waiting #{:pp}))))
  (operation [] :ready [:rr] (select (contains? :waiting :rr)
                                     (parallel-substitution (assign :waiting (- :waiting #{:rr}))
                                                            (if-sub (= :active #{})
                                                              (assign :active #{:rr})
                                                              (assign :ready (union :ready #{:rr}))))))
  (operation [] :swap [] (select (not= :active #{})
                                 (parallel-substitution
                                  (assign :waiting (union :waiting :active))
                                  (if-sub (= :ready #{})
                                    (assign :active #{}) (any [:pp] (contains? :ready :pp)
                                                              (parallel-substitution (assign :active #{:pp})
                                                                                     (assign :ready (- :ready #{:pp}))))))))))
